body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.wrapper {
	max-width: 100%;
	min-height: auto;
}

.container {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

.slider-box {
	width: 45%;
	margin: 0 auto;
	padding: 1rem;
}

@media (max-width: 920px) {
	html {
		font-size: 10px;
	}

	.container {
		flex-flow: column nowrap;
	}

	.slider-box {
		width: 95%;
	}
}

